<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.cashbook.income.mapper.IncomeMapper">
	<select id="incomeSelectList"
		resultType="co.yedam.cashbook.income.service.IncomeVO">
		SELECT * FROM CASH_IN ORDER BY in_date
	</select>

	<select id="incomeSelect"
		resultType="co.yedam.cashbook.income.service.IncomeVO">
		SELECT * FROM CASH_IN
		WHERE IN_DATE = #{inDate}
	</select>
	
	<insert id="incomeInsert"
		parameterType ="co.yedam.cashbook.income.service.IncomeVO">
		INSERT INTO CASH_IN
		VALUES(#{inId},#{moneyIn},#{inGroup},#{inDate},#{inMemo})
	</insert>
	
	<delete id="incomeDelete"
		parameterType ="co.yedam.cashbook.income.service.IncomeVO">
		DELETE FROM CASH_IN 
		WHERE IN_DATE = #{inDate}
	</delete>
	
	<update id="incomeUpdate"
		parameterType="co.yedam.cashbook.income.service.IncomeVO">
		UPDATE CASH_IN
		<set>
			<if test="moneyIn != 0">MONEY_IN = #{moneyIn},</if>
			<if test="inGroup != null">IN_GROUP = #{inGroup},</if>
			<if test="inMemo">IN_MEMO = #{inMemo},</if>
		</set>
		WHERE IN_DATE = #{inDate}
	</update>


</mapper>